doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Title
        link(rel="stylesheet", href="../public/css/style.css")
    body 
        h1 Click on the cat
        article 
            header 
                h2 Name
            figure 
                img.bigsmalltrans(src="../public/img/cat.jpg", alt="")
            p Age: 7
            p Weight 5kg
        script(src="../public/js/main.js")
